html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #f4f4f4;
    color: #333;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
    font-size: 32px;
    font-weight: 200;
    color: #666;
}
h2 {
    font-weight: bold;
    color: #333;
    font-size: 18px;
}
a {
    color: #0099e5;
    text-decoration: none;
}

.page {
    width: 800px;
    margin: 20px auto;
    padding: 10px 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    background-color: #fff;
}


.avatar-image {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

header h1 {
    line-height: 110px;
}

article {
    padding: 20px;
}
.main-nav {
    width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 0;
    padding: 10px 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.main-nav a {
    display: inline-block;
    float: left;
    font-size: 18px;
    font-weight: 200;
    margin: 0 10px 5px 0 ;
    border: 1px solid #777;
    box-shadow: inset 0px 1px 1px #444;
    border-radius: 4px;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    color: #fff;
    text-shadow: ;
    background: linear-gradient(#848484, #717171); 
}

.main-nav a:hover {
        background: linear-gradient(#b4b4b4, #a4a4a4); 

}